In [1]:
import numpy as np
import pandas as pd

In [19]:
data = pd.DataFrame([
    [1., 6.5, 5.],
    [2., np.NAN, np.NAN],
    [np.NAN, np.NAN, np.NAN],
    [np.NAN, 9, 3.],
], columns='cola,colb,colc'.split(','),index='row1,row2,row3,row4'.split(','),)

In [20]:
data

      cola  colb  colc
row1   1.0   6.5   5.0
row2   2.0   NaN   NaN
row3   NaN   NaN   NaN
row4   NaN   9.0   3.0

### 1. 定位NA
找到所有NA的位置

In [21]:
data.isna()

       cola   colb   colc
row1  False  False  False
row2  False   True   True
row3   True   True   True
row4   True  False  False

找到有NA的列

In [22]:
data.isna().any()

cola    True
colb    True
colc    True
dtype: bool

找到有NA的行

In [23]:
data.isna().any(axis=1)

row1    False
row2     True
row3     True
row4     True
dtype: bool

结合索引，选取无NA的行

In [24]:
data[np.logical_not(data.isna().any(axis=1))]

      cola  colb  colc
row1   1.0   6.5   5.0

或者

In [25]:
data[data.notna().all(axis=1)]

      cola  colb  colc
row1   1.0   6.5   5.0

按某个列的NA情况来做选择

In [35]:
selector = data.colb.notna()
selector

row1     True
row2    False
row3    False
row4     True
Name: colb, dtype: bool

In [36]:
data[selector]

      cola  colb  colc
row1   1.0   6.5   5.0
row4   NaN   9.0   3.0

### 2. 填充或插值

In [28]:
data

      cola  colb  colc
row1   1.0   6.5   5.0
row2   2.0   NaN   NaN
row3   NaN   NaN   NaN
row4   NaN   9.0   3.0

In [26]:
data.fillna(method='ffill')

      cola  colb  colc
row1   1.0   6.5   5.0
row2   2.0   6.5   5.0
row3   2.0   6.5   5.0
row4   2.0   9.0   3.0

In [29]:
data.fillna(method='bfill')

      cola  colb  colc
row1   1.0   6.5   5.0
row2   2.0   9.0   3.0
row3   NaN   9.0   3.0
row4   NaN   9.0   3.0

### 3. 丢弃NA数据

丢弃任何有NA的行（只保留全数据行）

In [30]:
data.dropna()

      cola  colb  colc
row1   1.0   6.5   5.0

丢弃全为NA的行

In [31]:
data.dropna(how='all')

      cola  colb  colc
row1   1.0   6.5   5.0
row2   2.0   NaN   NaN
row4   NaN   9.0   3.0