In [2]:
import numpy as np
import pandas as pd

### 映射替换

In [6]:
df = pd.DataFrame({
    'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],
    'ounces': [4., 3., 12., 6., 7.5, 8., 3., 5., 6.],
})
df

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [8]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon',
}

In [11]:
df.food.map(meat_to_animal)

0       pig
1       pig
2       pig
3       NaN
4       cow
5       NaN
6       cow
7       pig
8    salmon
Name: food, dtype: object

### 函数替换
数据中部分大小写不统一，可以使用`str.lower`统一后再做映射

In [12]:
df.food.map(str.lower).map(meat_to_animal)

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

或者用矢量化方法

In [16]:
df.food.str.lower().map(meat_to_animal)

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object