In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=list('abc'), columns=['one', 'two'])
df1

   one  two
a    0    1
b    2    3
c    4    5

In [3]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=list('ac'), columns=['three', 'four'])
df2

   three  four
a      5     6
c      7     8

### 默认堆叠

* 垂直方向
* 外联结（保留NA数据）

In [4]:
pd.concat([df1, df2])

   four  one  three  two
a   NaN  0.0    NaN  1.0
b   NaN  2.0    NaN  3.0
c   NaN  4.0    NaN  5.0
a   6.0  NaN    5.0  NaN
c   8.0  NaN    7.0  NaN

### 水平堆叠

* 外联结（保留NA数据）
* 不区分列来源

In [5]:
pd.concat([df1, df2], axis=1)

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

### 内联结

In [6]:
pd.concat([df1, df2], axis=1, join='inner')

   one  two  three  four
a    0    1      5     6
c    4    5      7     8

### 标记列来源

In [9]:
pd.concat([df1, df2], axis=1, keys=['left', 'right'])

  left     right
   one two three four
a    0   1   5.0  6.0
b    2   3   NaN  NaN
c    4   5   7.0  8.0

另一种更简单的方法：

In [10]:
pd.concat({'left': df1, 'right': df2}, axis=1)

  left     right
   one two three four
a    0   1   5.0  6.0
b    2   3   NaN  NaN
c    4   5   7.0  8.0

### 去除索引

一般用于行（垂直）堆叠

In [11]:
pd.concat([df1, df2], ignore_index=True)

   four  one  three  two
0   NaN  0.0    NaN  1.0
1   NaN  2.0    NaN  3.0
2   NaN  4.0    NaN  5.0
3   6.0  NaN    5.0  NaN
4   8.0  NaN    7.0  NaN