### 步骤1 导入必要的库

In [1]:
import pandas as pd
import datetime

In [2]:
### 步骤2 从以下地址导入数据

In [3]:
path6 = "./wind.data"  # wind.data

In [4]:
### 步骤3 将数据作存储并且设置前三列为合适的索引

In [5]:
data = pd.read_table(path6, sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [6]:
### 步骤4 2061年？我们真的有这一年的数据？创建一个函数并用它去修复这个bug

In [7]:
# 运行以下代码
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [8]:
### 步骤5 将日期设为索引，注意数据类型，应该是```datetime64[ns]```

In [9]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [10]:
### 步骤6 对应每一个location，一共有多少数据值缺失

In [11]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [12]:
### 步骤7 对应每一个location，一共有多少完整的数据值

In [13]:
data.shape[1] - data.isnull().sum()

RPT     6
VAL     9
ROS    10
KIL     7
SHA    10
BIR    12
DUB     9
CLA    10
MUL     9
CLO    11
BEL    12
MAL     8
dtype: int64

In [14]:
### 步骤8 对于全体数据，计算风速的平均值

In [15]:
data.mean().mean()

10.227982360836924

In [16]:
### 步骤9 创建一个名为```loc_stats```的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差

In [17]:
loc_stats = pd.DataFrame()

loc_stats['min'] = data.min() # min
loc_stats['max'] = data.max() # max 
loc_stats['mean'] = data.mean() # mean
loc_stats['std'] = data.std() # standard deviations

loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

In [18]:
### 步骤10 创建一个名为```day_stats```的数据框去计算并存储所有location的风速最小值，最大值，平均值和标准差

In [19]:
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### 步骤11 对于每一个location，计算各月份的平均风速
*注意，不同年份的同一月份（如1961年的1月和1962年的1月）应该区别对待*

In [20]:
data.groupby([data.index.year, data.index.month]).mean()

                         RPT        VAL        ROS       KIL        SHA  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1         14.841333  11.988333  13.431613  7.736774  11.072759
         2         16.269286  14.975357  14.441481  9.230741  13.852143
         3         10.890000  11.296452  10.752903  7.284000  10.509355
         4         10.722667   9.427667   9.998000  5.830667   8.435000
         5          9.860968   8.850000  10.818065  5.905333   9.490323
         6          9.904138   8.520333   8.867000  6.083000  10.824000
         7         10.614194   8.221613   9.110323  6.340968  10.532581
         8         12.035000  10.133871  10.335806  6.845806  12.715161
         9         12.531000   9.656897  10.776897  7.155517  11.003333
         10        14.289667  10.915806  12.236452  8.154839  11.865484
         11        10.896333   8.592667  11.850333  6.045667   9.123667
         12        14.973548  11.903871  13.980323  7.073871  11.323548
1962     1         14.783871  13.160323  12.591935  7.538065  11.779677
         2         15.844643  12.041429  15.178929  9.262963  13.821429
         3         11.634333   8.602258  12.110645  6.403226  10.352258
         4         12.160667   9.676667  12.088333  7.163000  10.544000
         5         12.745806  10.865484  11.874839  7.471935  11.285806
         6         10.305667   9.677000   9.996333  6.846667  10.711333
         7          9.981935   8.370645   9.753548  6.093226   9.112903
         8         10.964194   9.694194  10.184516  6.701290  10.465161
         9         11.176333   9.507000  11.640000  6.164333   9.722333
         10         9.699355   8.063548   9.357097  4.818065   8.432258
         11        11.071333   7.984000  12.035667  5.740000   8.135667
         12        16.785484  13.753548  14.276452  9.557419  13.724839
1963     1         14.868387  11.112903  15.121613  6.635806  11.080645
         2         14.418929  11.876429  15.697500  8.611786  12.887857
         3         14.853871  12.271290  14.295806  9.268387  13.112903
         4         11.616000  10.138000  13.233667  7.990333  11.515333
         5         12.879677  11.010645  12.881290  8.411613  12.981613
         6         10.623333   8.434667  11.685000  6.420333  10.142667
...                      ...        ...        ...       ...        ...
1976     7          9.687742   7.980968   8.267742  4.631613   7.576774
         8          7.640645   5.366129   9.000645  3.142258   4.695484
         9         11.703667  10.515333  10.466333  5.313333   8.761333
         10        12.427097   9.572258  10.640000  4.885484   9.393548
         11        10.962667   9.443667   9.202000  3.696000   7.459333
         12        11.962258  10.086774  10.474516  3.383871   7.645484
1977     1         13.404516  10.377742  12.764839  5.884516   9.159677
         2         12.336786  11.898929  12.016786  5.317500  10.134643
         3         16.750000  14.499677  16.118387  8.414516  13.293871
         4         14.955333  12.293000  12.689667  7.422333  11.740000
         5          9.441290   7.173871  12.455806  4.507742   6.198387
         6         11.040000   8.353000  12.228000  4.864000   8.790333
         7         10.881935   8.663548  10.816452  5.419677   9.014839
         8          9.233548   7.727742  10.679032  4.453871   6.620645
         9         12.472333  10.742667  11.849333  5.638667  10.077333
         10        15.004516  13.960000  12.819677  6.754194  11.779032
         11        16.946667  15.444667  13.561333  7.584000  12.088667
         12        14.751935  12.744839  13.469677  6.592258  11.247742
1978     1         14.291935  11.872258  12.014194  6.463226  11.402903
         2         14.143571  12.153214  13.803214  6.828929  11.196786
         3         14.717097  14.601935  13.334194  8.231290  12.783226
         4         11.805000  11.255667  12.516333  5.920333  10.218000
         5          8.270645   7.226774   6.901613  3.740645   6.973871
         6         11.386667   9.474333  10.253333  6.053000  10.395333
         7         12.820000   9.750968   9.910323  6.483871  10.055161
         8          9.645161   8.259355   9.032258  4.502903   7.368065
         9         10.913667  10.895000  10.635000  5.725000  10.372000
         10         9.897742   8.670968   9.295806  4.721290   8.525161
         11        16.151667  14.802667  13.508000  7.317333  11.475000
         12        16.175484  13.748065  15.635161  7.094839  11.398710

                         BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1          8.588065  11.184839   9.245333   9.085806  10.107419
         2         10.937500  11.890714  11.846071  11.821429  12.714286
         3          8.866774   9.644194   9.829677  10.294138  11.251935
         4          6.495000   6.925333   7.094667   7.342333   7.237000
         5          6.574839   7.604000   8.177097   8.039355   8.499355
         6          6.707333   9.095667   8.849333   9.086667   9.940333
         7          6.198387   8.353333   8.284194   8.077097   8.891613
         8          8.441935  10.093871  10.460968   9.111613  10.544667
         9          7.234000   8.206000   8.936552   7.728333   9.931333
         10         8.333871  11.194194   9.271935   8.942667  11.455806
         11         6.250667  10.869655   6.313667   6.575000   8.383667
         12         8.302258  11.753548   8.163226   7.965806   9.246774
1962     1          8.720000  14.211935   9.600000   9.670000  11.498710
         2          9.726786  16.916429  11.285357  12.021071  12.126429
         3          6.732258  10.223226   7.641935   7.092258   8.052581
         4          7.558000  11.480000   8.722000   8.703667   9.311667
         5          7.209032  10.105806   9.084516   7.868065   9.293226
         6          7.441333  10.548667  10.306667   9.196000  10.520333
         7          5.877097   7.781613   8.123226   6.829677   8.613226
         8          7.009032  11.136774   9.097419   8.645484   9.511613
         9          6.214000   8.488000   7.020333   6.372667   8.286000
         10         5.730000   8.448065   7.626774   6.630645   9.091290
         11         6.338333   9.615333   5.943000   6.362333   8.084333
         12        10.321613  13.735806  11.212258  10.683548  11.881935
1963     1          7.835484  12.797419   9.844839   7.841613   9.390000
         2          9.600357  12.729286  10.823214   8.981786  10.355714
         3         10.088065  12.168387  11.340968   9.690968  11.515484
         4          9.727000  11.979000  11.353000  10.341667  11.900333
         5          9.739677  12.280968  10.964194  10.745161  11.394839
         6          7.219333   9.267333   9.589333   8.583667   9.585333
...                      ...        ...        ...        ...        ...
1976     7          4.927419   6.994839   5.135806   7.941290   6.491290
         8          3.847742   5.437097   3.362581   5.946452   4.496452
         9          7.062333   8.617667   6.415333   8.953333   7.263333
         10         6.906452   6.380323   6.933226   7.552258   7.449032
         11         7.026333   9.058333   5.791000   6.577000   7.512333
         12         6.148387   8.034516   4.500000   5.952258   6.147742
1977     1          8.005161  10.107419   7.211613   8.280000   9.328387
         2          9.423929  10.949643   7.965357   9.320000   8.711429
         3         11.562258  14.283226  11.361613  12.102581  11.906452
         4         10.137000  13.887667   9.574000  10.342333  11.419667
         5          6.689677   9.226452   5.638387   6.699355   6.045484
         6          7.209667   8.799667   5.931000   7.065333   6.583333
         7          7.600000   9.961935   6.526129   7.980968   7.620000
         8          5.961290   8.943548   4.543226   6.384839   5.694839
         9          8.242667  11.939333   7.923000   8.828000   8.506333
         10         9.671613  12.924839  11.875161  11.481290  10.340323
         11         9.161333  14.051000  11.286000  10.318667  10.327000
         12         9.466774  13.231613  10.703871  10.401613   9.415484
1978     1          7.517097  12.207097  10.206452   9.549032   9.247419
         2          7.858929  11.903214  11.068929  10.052143   8.093929
         3          9.488710  12.129355  11.665161  11.656452   9.657097
         4          7.301667   8.586333   8.306667   8.537000   6.999000
         5          4.449677   5.420968   6.130645   5.742581   5.926452
         6          7.490333   7.928000   7.802000   8.220333   7.550000
         7          7.820645   7.831935   8.459355   8.523871   7.732903
         8          5.935161   5.650323   5.417742   7.241290   5.536774
         9          9.278333  10.790333   9.583000  10.069333   8.939000
         10         6.774194   8.115484   7.337742   8.297742   8.243871
         11         8.743000  11.492333   9.657333  10.701333  10.676000
         12         9.241613  12.077419  10.194839  10.616774  11.028710

                         BEL        MAL
Yr_Mo_Dy Yr_Mo_Dy
1961     1         13.880968  14.703226
         2         18.583214  15.411786
         3         16.410968  15.720000
         4         11.147333  10.278333
         5         11.900323  12.011613
         6         13.995000  14.553793
         7         11.092581  12.312903
         8         14.410000  14.345333
         9         13.718333  12.921667
         10        14.229355  16.793226
         11        10.776667  12.146000
         12        12.239355  13.098710
1962     1         16.369355  15.661613
         2         16.705357  18.426786
         3          9.690000  11.509000
         4         12.234333  11.780667
         5         12.130000  12.922581
         6         13.757000  15.218333
         7         10.783871  11.326129
         8         13.119032  15.420968
         9         11.483667  12.313333
         10        13.286774  14.090323
         11         9.786667  13.298333
         12        16.043548  20.074516
1963     1         11.428710  18.822258
         2         13.266429  17.120714
         3         13.982903  14.132581
         4         13.875667  16.333667
         5         14.777097  14.975161
         6         12.098000  11.358667
...                      ...        ...
1976     7         10.264194  11.912258
         8          7.079677   9.438387
         9         11.587000  17.634000
         10        11.837742  15.078065
         11        12.568333  15.685333
         12         7.814839  14.346774
1977     1         12.131935  18.830000
         2         11.435357  17.561429
         3         15.863226  19.133548
         4         15.593667  18.274667
         5         10.213548  11.936129
         6         11.321333  11.175333
         7         12.924194  12.186774
         8          9.825161  11.659355
         9         14.051000  17.030333
         10        17.640968  19.842903
         11        17.215333  22.333000
         12        13.237419  19.299677
1978     1         15.101613  20.715806
         2         10.353929  17.298571
         3         14.234194  18.611290
         4         11.190667  14.152000
         5          9.263548  10.756452
         6         11.501000  15.078667
         7         12.648710  14.077419
         8         10.466774  12.054194
         9         15.680333  19.391333
         10        13.776774  17.150000
         11        17.404667  20.723000
         12        13.859677  21.371613

[216 rows x 12 columns]

### 步骤12 全国境内平均风速最大的是几月？

In [21]:
data.groupby([data.index.month]).mean().mean(axis=1).sort_values(ascending=False)

Yr_Mo_Dy
1     11.790920
12    11.599800
3     11.296313
2     11.257743
11    10.811319
10    10.422061
4     10.419079
5      9.767791
9      9.437308
6      8.980183
7      8.570066
8      8.434918
dtype: float64