In [1]:
import pandas_datareader as pdr
import datetime

In [3]:
aapl = pdr.get_data_yahoo('AAPL', 
                          start=datetime.datetime(2010, 1, 1), 
                          end=datetime.datetime(2019, 1, 1))
aapl.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-12-31  30.478571  30.080000  30.447144  30.104286   88102700.0  26.272409
2010-01-04  30.642857  30.340000  30.490000  30.572857  123432400.0  26.681330
2010-01-05  30.798571  30.464285  30.657143  30.625713  150476200.0  26.727465
2010-01-06  30.747143  30.107143  30.625713  30.138571  138040000.0  26.302330
2010-01-07  30.285715  29.864286  30.250000  30.082857  119282800.0  26.253704

In [4]:
aapl.to_csv('aapl-20100101-20190101.csv')