In [2]:
import pandas as pd
import numpy as np

In [7]:
from datetime import datetime, time, date, timedelta

In [15]:
pd.to_datetime(pd.Series([
    date(2019, 1, 11),
    datetime(2019, 1, 11, 18, 0),
    # time(18, 0),
    # timedelta(days=2, hours=15)
]))

0   2019-01-11 00:00:00
1   2019-01-11 18:00:00
dtype: datetime64[ns]

In [27]:
pd.to_datetime(pd.Series([
    '20190111',
    '11/30/2018',
    '2019-01-01 12:23:02+08:00'
]))

0   2019-01-11 00:00:00
1   2018-11-30 00:00:00
2   2019-01-01 04:23:02
dtype: datetime64[ns]

In [4]:
tse = pd.to_datetime(pd.Series([
    '201901',
    '201902',
    '201903'
]), format='%Y%m')
tse

0   2019-01-01
1   2019-02-01
2   2019-03-01
dtype: datetime64[ns]

In [8]:
tse[1] - tse[0]

Timedelta('31 days 00:00:00')

In [12]:
tse[2] + pd.Timedelta(3, unit='d')

Timestamp('2019-03-04 00:00:00')

In [34]:
longer_ts = pd.Series(
    np.random.randn(10),
    index=pd.date_range('1/1/2019', periods=10, freq='MS')
).round(2)
longer_ts

2019-01-01    0.14
2019-02-01    0.42
2019-03-01   -0.24
2019-04-01   -0.91
2019-05-01    1.07
2019-06-01    0.01
2019-07-01    0.77
2019-08-01    1.26
2019-09-01   -0.79
2019-10-01    0.47
Freq: MS, dtype: float64

In [35]:
longer_ts['2019-10-01']

0.47

In [37]:
longer_ts['2019-02':'2019-04']

2019-02-01    0.42
2019-03-01   -0.24
2019-04-01   -0.91
Freq: MS, dtype: float64

In [5]:
another_ts = pd.Series(
    np.random.randn(10),
    index=pd.date_range('2019-01-01', '2019-10-01', freq='MS')
).round(2)
another_ts

2019-01-01   -0.46
2019-02-01   -1.14
2019-03-01    0.22
2019-04-01   -0.50
2019-05-01    2.12
2019-06-01    0.73
2019-07-01   -0.33
2019-08-01    0.14
2019-09-01    0.24
2019-10-01   -0.15
Freq: MS, dtype: float64

In [8]:
another_ts[date(2019, 3, 1)]

0.22

In [25]:
aliases = [
    'B', 'D', 'W', 'M', 'BM', 'MS', 'BMS', 'Y', 'BY', 'YS', 'BYS', 'H', 'min', 'S',
    '2H12min', '9y',
    'W-MON',
    'WOM-3SAT'
]
offset_aliases = pd.DataFrame()
for n in aliases:
    offset_aliases[n] = pd.date_range('2019-01-01 00:00:00', periods=7, freq=n)
offset_aliases.transpose()

,0,1,2,3,4,5,6
B,2019-01-01,2019-01-02 00:00:00,2019-01-03 00:00:00,2019-01-04 00:00:00,2019-01-07 00:00:00,2019-01-08 00:00:00,2019-01-09 00:00:00
D,2019-01-01,2019-01-02 00:00:00,2019-01-03 00:00:00,2019-01-04 00:00:00,2019-01-05 00:00:00,2019-01-06 00:00:00,2019-01-07 00:00:00
W,2019-01-06,2019-01-13 00:00:00,2019-01-20 00:00:00,2019-01-27 00:00:00,2019-02-03 00:00:00,2019-02-10 00:00:00,2019-02-17 00:00:00
M,2019-01-31,2019-02-28 00:00:00,2019-03-31 00:00:00,2019-04-30 00:00:00,2019-05-31 00:00:00,2019-06-30 00:00:00,2019-07-31 00:00:00
BM,2019-01-31,2019-02-28 00:00:00,2019-03-29 00:00:00,2019-04-30 00:00:00,2019-05-31 00:00:00,2019-06-28 00:00:00,2019-07-31 00:00:00
MS,2019-01-01,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00
BMS,2019-01-01,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-03 00:00:00,2019-07-01 00:00:00
Y,2019-12-31,2020-12-31 00:00:00,2021-12-31 00:00:00,2022-12-31 00:00:00,2023-12-31 00:00:00,2024-12-31 00:00:00,2025-12-31 00:00:00
BY,2019-12-31,2020-12-31 00:00:00,2021-12-31 00:00:00,2022-12-30 00:00:00,2023-12-29 00:00:00,2024-12-31 00:00:00,2025-12-31 00:00:00
YS,2019-01-01,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-01 00:00:00,2023-01-01 00:00:00,2024-01-01 00:00:00,2025-01-01 00:00:00
BYS,2019-01-01,2020-01-01 00:00:00,2021-01-01 00:00:00,2022-01-03 00:00:00,2023-01-02 00:00:00,2024-01-01 00:00:00,2025-01-01 00:00:00
H,2019-01-01,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 06:00:00
min,2019-01-01,2019-01-01 00:01:00,2019-01-01 00:02:00,2019-01-01 00:03:00,2019-01-01 00:04:00,2019-01-01 00:05:00,2019-01-01 00:06:00
S,2019-01-01,2019-01-01 00:00:01,2019-01-01 00:00:02,2019-01-01 00:00:03,2019-01-01 00:00:04,2019-01-01 00:00:05,2019-01-01 00:00:06
2H12min,2019-01-01,2019-01-01 02:12:00,2019-01-01 04:24:00,2019-01-01 06:36:00,2019-01-01 08:48:00,2019-01-01 11:00:00,2019-01-01 13:12:00
9y,2019-12-31,2028-12-31 00:00:00,2037-12-31 00:00:00,2046-12-31 00:00:00,2055-12-31 00:00:00,2064-12-31 00:00:00,2073-12-31 00:00:00
W-MON,2019-01-07,2019-01-14 00:00:00,2019-01-21 00:00:00,2019-01-28 00:00:00,2019-02-04 00:00:00,2019-02-11 00:00:00,2019-02-18 00:00:00
WOM-3SAT,2019-01-19,2019-02-16 00:00:00,2019-03-16 00:00:00,2019-04-20 00:00:00,2019-05-18 00:00:00,2019-06-15 00:00:00,2019-07-20 00:00:00

In [28]:
ts_to_shift = pd.date_range('1/1/2019', periods=10, freq='Y')
ts_to_shift

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [29]:
ts_to_shift.shift(3)

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [30]:
ts_to_shift.shift(-1, freq='12H')

DatetimeIndex(['2019-12-30 12:00:00', '2020-12-30 12:00:00',
               '2021-12-30 12:00:00', '2022-12-30 12:00:00',
               '2023-12-30 12:00:00', '2024-12-30 12:00:00',
               '2025-12-30 12:00:00', '2026-12-30 12:00:00',
               '2027-12-30 12:00:00', '2028-12-30 12:00:00'],
              dtype='datetime64[ns]', freq=None)